/* line 2, ../sass/_bootstrap-tweaks.scss */
#forbes-landing .transparent {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(270deg, transparent 0%, transparent 100%);
  background-image: linear-gradient(180deg, transparent 0%, transparent 100%);
}
/* line 12, ../sass/_bootstrap-tweaks.scss */
#forbes-landing .navbar-default .navbar-toggle {
  border: none;
  border-color: white;
}
/* line 16, ../sass/_bootstrap-tweaks.scss */
#forbes-landing .navbar-default .navbar-toggle span.icon-bar {
  background-color: white;
}
/* line 21, ../sass/_bootstrap-tweaks.scss */
#forbes-landing .navbar-default .navbar-toggle:hover,
#forbes-landing .navbar-default .navbar-toggle:focus {
  border: none;
  background-color: white;
}
/* line 26, ../sass/_bootstrap-tweaks.scss */
#forbes-landing .navbar-default .navbar-toggle:hover span.icon-bar,
#forbes-landing .navbar-default .navbar-toggle:focus span.icon-bar {
  background-color: black;
}

/* line 3, ../sass/_layout.scss */
div#forbes-landing {
  max-width: 1920px;
  margin: auto;
}
/* line 7, ../sass/_layout.scss */
div#forbes-landing h1, div#forbes-landing h2, div#forbes-landing h3, div#forbes-landing h4, div#forbes-landing p, div#forbes-landing li {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}
/* line 11, ../sass/_layout.scss */
div#forbes-landing h1 {
  font-size: 45px;
  font-weight: 700;
}
/* line 16, ../sass/_layout.scss */
div#forbes-landing h2 {
  font-size: 35px;
  font-weight: 700;
}
/* line 21, ../sass/_layout.scss */
div#forbes-landing h3 {
  font-size: 17px;
  font-weight: 400;
}
/* line 26, ../sass/_layout.scss */
div#forbes-landing h4 {
  font-size: 16px;
  font-weight: 700;
}
/* line 31, ../sass/_layout.scss */
div#forbes-landing p, div#forbes-landing a {
  font-size: 20px;
  font-weight: 400;
}
/* line 36, ../sass/_layout.scss */
div#forbes-landing div.red-line {
  height: 18px;
  width: 68px;
  border-bottom: 1px solid #c32026;
}
/* line 44, ../sass/_layout.scss */
div#forbes-landing div.jumbotron nav.navbar a.navbar-brand {
  padding: 0;
}
@media (max-width: 480px) {
  /* line 44, ../sass/_layout.scss */
  div#forbes-landing div.jumbotron nav.navbar a.navbar-brand {
    width: 70%;
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  /* line 55, ../sass/_layout.scss */
  div#forbes-landing div.jumbotron nav.navbar a.navbar-brand img {
    width: 75%;
  }
}
/* line 63, ../sass/_layout.scss */
div#forbes-landing div.jumbotron nav.navbar ul.nav li a {
  color: white;
}
@media (max-width: 1150px) {
  /* line 63, ../sass/_layout.scss */
  div#forbes-landing div.jumbotron nav.navbar ul.nav li a {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  /* line 63, ../sass/_layout.scss */
  div#forbes-landing div.jumbotron nav.navbar ul.nav li a {
    font-size: 14px;
    padding: 15px 6px;
  }
}
/* line 79, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.jumbotron-text {
  margin-top: 125px;
}
/* line 82, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.jumbotron-text h1, div#forbes-landing div.jumbotron div.jumbotron-text p {
  color: white;
  text-align: center;
}
/* line 87, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.jumbotron-text p {
  margin-top: 39px;
}
/* line 91, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.jumbotron-text span {
  color: #c32026;
}
/* line 98, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline {
  text-align: center;
}
/* line 101, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline div.background {
  background: rgba(0, 0, 0, 0.5);
  padding: 24px 0;
}
/* line 105, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline div.background div.form-group {
  width: 100%;
}
@media (max-width: 992px) {
  /* line 105, ../sass/_layout.scss */
  div#forbes-landing div.jumbotron div.email-form form.form-inline div.background div.form-group {
    margin: 10px 0;
  }
}
/* line 112, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline div.background div.form-group input.form-control {
  width: 100%;
  height: 58px;
  border: 2px solid #481a1d;
  border-radius: 5px;
  border-left: 4px solid #c32026;
  background-color: black;
  color: white;
}
/* line 136, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline div.background button.red-button {
  height: 58px;
  width: 100%;
  font-size: 15px;
  background-color: #c32026;
  border-radius: 5px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  border: none;
}
/* line 153, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.email-form form.form-inline div.background button.red-button:hover {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
/* line 163, ../sass/_layout.scss */
div#forbes-landing div.jumbotron div.signup-text p {
  font-size: 20px;
  weight: 400;
  font-style: italic;
  margin-top: 13px;
  color: white;
  text-align: center;
}
/* line 174, ../sass/_layout.scss */
div#forbes-landing div.top-banner {
  background-image: url(../img/top-banner.jpg);
  margin-bottom: 0;
}
/* line 179, ../sass/_layout.scss */
div#forbes-landing div.research {
  background-color: #f7f8fa;
  width: 100%;
}
/* line 183, ../sass/_layout.scss */
div#forbes-landing div.research h2 {
  font-weight: 400;
  margin-top: 37px;
  margin-bottom: 0;
}
/* line 189, ../sass/_layout.scss */
div#forbes-landing div.research ul li {
  clear: both;
}
/* line 192, ../sass/_layout.scss */
div#forbes-landing div.research ul li div.icon {
  padding-top: 62px;
}
/* line 196, ../sass/_layout.scss */
div#forbes-landing div.research ul li div.text {
  padding-top: 40px;
}
/* line 199, ../sass/_layout.scss */
div#forbes-landing div.research ul li div.text h4, div#forbes-landing div.research ul li div.text p {
  font-size: 16px;
}
/* line 205, ../sass/_layout.scss */
div#forbes-landing div.research img.laptop-image {
  width: 100%;
  height: auto;
  margin-top: 48px;
  max-width: 630px;
}
@media (max-width: 480px) {
  /* line 213, ../sass/_layout.scss */
  div#forbes-landing div.research img.laptop-image {
    display: none;
  }
}
/* line 220, ../sass/_layout.scss */
div#forbes-landing div.customers h2 {
  text-align: center;
  margin-top: 78px;
}
/* line 225, ../sass/_layout.scss */
div#forbes-landing div.customers div.red-line {
  margin: auto;
}
/* line 229, ../sass/_layout.scss */
div#forbes-landing div.customers h3 {
  text-align: center;
  margin-top: 17px;
}
/* line 234, ../sass/_layout.scss */
div#forbes-landing div.customers img.companies {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  max-width: 1013px;
  height: auto;
}
/* line 243, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row {
  margin-top: 40px;
}
/* line 246, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote {
  margin-top: 40px;
}
/* line 249, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote img {
  z-index: 2;
  position: absolute;
  left: 45%;
  top: -19px;
}
/* line 256, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote div.bubble {
  position: relative;
  padding: 0px;
  background: #f7f8fa;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: #e5e5e5 solid 1px;
  padding: 35px 30px 20px 30px;
}
/* line 266, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote div.bubble p {
  font-style: italic;
  font-size: 16px;
  text-align: center;
}
/* line 273, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote div.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #f7f8fa transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 45%;
}
/* line 286, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote div.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #e5e5e5 transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -16px;
  left: 45%;
}
/* line 299, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote h4 {
  color: #c32026;
  text-align: center;
  margin-top: 22px;
}
/* line 305, ../sass/_layout.scss */
div#forbes-landing div.customers div.quote-row div.customer-quote p.title {
  font-size: 13px;
  text-align: center;
}
/* line 320, ../sass/_layout.scss */
div#forbes-landing div.three-take-aways {
  background-color: #f7f8fa;
  margin-top: 75px;
  max-height: 701px;
}
/* line 325, ../sass/_layout.scss */
div#forbes-landing div.three-take-aways h2 {
  text-align: center;
  padding-top: 57px;
}
/* line 330, ../sass/_layout.scss */
div#forbes-landing div.three-take-aways div.red-line {
  margin: auto;
  margin-top: 3px;
  border-bottom: 1px solid #0199e6;
}
/* line 336, ../sass/_layout.scss */
div#forbes-landing div.three-take-aways h3 {
  text-align: center;
  margin-top: 15px;
}
/* line 341, ../sass/_layout.scss */
div#forbes-landing div.three-take-aways img {
  max-width: 945px;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 79px;
}
/* line 351, ../sass/_layout.scss */
div#forbes-landing div.bottom-banner {
  background-image: url(../img/bottom-banner.jpg);
  margin-top: 261px;
}
/* line 355, ../sass/_layout.scss */
div#forbes-landing div.bottom-banner h2, div#forbes-landing div.bottom-banner p {
  text-align: center;
  color: white;
}
/* line 360, ../sass/_layout.scss */
div#forbes-landing div.bottom-banner p {
  margin-top: 86px;
}
/* line 364, ../sass/_layout.scss */
div#forbes-landing div.bottom-banner div.email-form {
  margin-top: 40px;
}
/* line 367, ../sass/_layout.scss */
div#forbes-landing div.bottom-banner div.email-form div.background {
  margin-bottom: 36px;
}
/* line 374, ../sass/_layout.scss */
div#forbes-landing nav.footer a {
  font-size: 16px;
  font-weight: 400;
  color: #919191;
  text-decoration: none;
}
@media (max-width: 1150px) {
  /* line 374, ../sass/_layout.scss */
  div#forbes-landing nav.footer a {
    font-size: 12px;
  }
}
/* line 385, ../sass/_layout.scss */
div#forbes-landing nav.footer a:hover, div#forbes-landing nav.footer a:focus {
  background-color: white;
  color: #e5e5e5;
}
