// Forbes landing page

div#forbes-landing {
	max-width: 1920px;
	margin: auto;

	h1, h2, h3, h4, p, li {
		font-family: $lato;
	}

	h1 {
		font-size: 45px;
		font-weight: 700
	}

	h2 {
		font-size: 35px;
		font-weight: 700;
	}

	h3 {
		font-size: 17px;
		font-weight: 400;
	}

	h4 {
		font-size: 16px;
		font-weight: 700;
	}

	p, a {
		font-size: 20px;
		font-weight: 400;
	}

	div.red-line {
		height: 18px;
		width: 68px;
		border-bottom: 1px solid $idna-red;
	}

	div.jumbotron {
		nav.navbar {
			a.navbar-brand {
				padding: 0;

				@include breakpoint(phone) {
					width: 70%;
					margin-top: 10px;
				}
			}

			@include breakpoint(phone) {
				a.navbar-brand {
					img {
						width: 75%;
					}
				}
			}

			ul.nav {
				li {
					a {
						color: white;

						@include breakpoint(midlaptop) {
							font-size: 16px;
						}

						@include breakpoint(laptop) {
							font-size: 14px;
							padding: 15px 6px;
						}
					}
				}
			}
		}

		div.jumbotron-text {
			margin-top: 125px;

			h1, p {
				color: white;
				text-align: center;
			}

			p {
				margin-top: 39px;
			}

			span {
				color: $idna-red;
			}
		}

		div.email-form {

			form.form-inline {
				text-align: center;

				div.background {
					background:rgba(0,0,0,0.5);
					padding: 24px 0;

					div.form-group {
						width: 100%;

						@include breakpoint(laptop) {
							margin: 10px 0;
						}

						input.form-control {
							width: 100%;
							height: 58px;
							// width: 225px;
							border: 2px solid $idna-maroon;
							border-radius: 5px;
							border-left: 4px solid $idna-red;
							// margin: 0 11px;
							background-color: black;
							color: white;
						}

						// @include breakpoint(tablet) {
						// 	input.form-control {
						// 		width: 100%;
						// 		margin: 0;
						// 	}
						// }

						// form.left-field {
						// 	margin-left: 0;
						// }
					}

					button.red-button {
						height: 58px;
						width: 100%;
						font-size: 15px;
						background-color: $idna-red;
						border-radius: 5px;
						font-family: $lato;
						font-weight: 700;
						color: white;
						// margin: 0 11px;
						border: none;

						// @include breakpoint(midlaptop) {
						// 	margin-top: 15px;
						// }
					}

					button.red-button:hover {
						-moz-box-shadow: inset 0 0 10px #000000;
						-webkit-box-shadow: inset 0 0 10px #000000;
						box-shadow: inset 0 0 10px #000000;
					}
				}
			}
		}

		div.signup-text {
			p {
					font-size: 20px;
					weight: 400;
					font-style: italic;
					margin-top: 13px;
					color: white;
					text-align: center;
			}
		}
	}

	div.top-banner {
		background-image: url(../img/top-banner.jpg);
		margin-bottom: 0;
	}

	div.research {
		background-color: $banner-gray;
		width: 100%;

		h2 {
			font-weight: 400;
			margin-top: 37px;
			margin-bottom: 0;
		}
		ul {
			li {
				clear: both;

				div.icon {
					padding-top: 62px;
				}

				div.text {
					padding-top: 40px;

					h4, p {
						font-size: 16px;
					}
				}
			}
		}
		img.laptop-image {
			width: 100%;
			height: auto;
			margin-top: 48px;
			max-width: 630px;
		}

		@include breakpoint(phone) {
			img.laptop-image {
				display: none;
			}
		}
	}

	div.customers {
		h2 {
			text-align: center;
			margin-top: 78px;
		}

		div.red-line {
			margin: auto;
		}

		h3 {
			text-align: center;
			margin-top: 17px;
		}

		img.companies {
			display: block;
			margin: auto;
			margin-top: 50px;
			width: 100%;
			max-width: 1013px;
			height: auto;
		}

		div.quote-row {
			margin-top: 40px;

			div.customer-quote {
				margin-top: 40px;

				img {
					z-index: 2;
					position: absolute;
					left: 45%;
					top: -19px;
				}

				div.bubble {
					position: relative;
					padding: 0px;
					background: $banner-gray;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					border-bottom: $outline-gray solid 1px;
					padding: 35px 30px 20px 30px;

					p {
						font-style: italic;
						font-size: 16px;
						text-align: center;
					}
				}

				div.bubble:after {
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 15px 15px 0;
					border-color: $banner-gray transparent;
					display: block;
					width: 0;
					z-index: 1;
					bottom: -15px;
					left: 45%;
				}

				div.bubble:before {
					content: '';
					position: absolute;
					border-style: solid;
					border-width: 15px 15px 0;
					border-color: $outline-gray transparent;
					display: block;
					width: 0;
					z-index: 0;
					bottom: -16px;
					left: 45%;
				}

				h4 {
					color: $idna-red;
					text-align: center;
					margin-top: 22px;
				}

				p.title {
					font-size: 13px;
					text-align: center;
				}
			}
		}







	}

	div.three-take-aways {
		background-color: $banner-gray;
		margin-top: 75px;
		max-height: 701px;

		h2 {
			text-align: center;
			padding-top: 57px;
		}

		div.red-line {
			margin: auto;
			margin-top: 3px;
			border-bottom: 1px solid $idna-teal;
		}

		h3 {
			text-align: center;
			margin-top: 15px;
		}

		img {
			max-width: 945px;
			width: 100%;
			height: auto;
			margin: auto;
	    display: block;
	    margin-top: 79px;
		}
	}

	div.bottom-banner {
		background-image: url(../img/bottom-banner.jpg);
		margin-top: 261px;

		h2, p {
			text-align: center;
			color: white;
		}

		p {
			margin-top: 86px;
		}

		div.email-form {
			margin-top: 40px;

			div.background {
				margin-bottom: 36px;
			}
		}
	}

	nav.footer {
		a {
			font-size: 16px;
			font-weight: 400;
			color: $footer-gray;
			text-decoration: none;

			@include breakpoint(midlaptop) {
				font-size: 12px;
			}
		}

		a:hover, a:focus {
    background-color: white;
    color: $outline-gray;
		}
	}
}



