// Fonts and colors

$idna-red: #c32026;
$form-gray: #808080;
$banner-gray: #f7f8fa;
$idna-teal: #0199e6;
$footer-gray: #919191;
$text-black: #323232;
$text-gray: #727272;
$idna-maroon: #481a1d;
$outline-gray: #e5e5e5;

$lato: "Lato", Helvetica, Arial, sans-serif !default;

